
@import url("components/container.css");
@import url("components/banner.css");
@import url("components/greycard.css");
@import url("components/card.css");
@import url("components/avatar.css");
@import url("components/btn-yellow.css");

body {
  font-family: 'League Spartan', sans-serif;
  font-size: 18px;
  margin: 0px;
}

h1, h2, h3 {
  font-family: 'League Spartan', sans-serif;
  text-align: center;
}
a {
  text-decoration: none;
  }

